 #container{
    width: 130px;
    background-color: black;    
    display: block;
    text-align: center;
    margin: auto;
}   

.tamanho{
    display: inline-block;
    width: 60px;
    height: 60px;
    position:relative;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.cor{
    background-color: gray;
}

.cel{
    width: 60px;
    height: 60px;
    position: center;
    align-items: center;
    justify-content: center;
    
 }
 .tale{
    text-align: center;
    align-items: center;
 }

